* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  height: 100px;
  padding: 0 20px;
  background-color: #131313;
  text-align: center;
  justify-content: center;
}


nav {
  display: flex;
  align-items: center;
}


nav img {
  width: 50%;
  height: 50%;
}


nav ul {
  display: flex;
  list-style: none;
}


nav ul li {
  display: flex;
  margin: 40px;
}

#user-espaco {
  padding-right: 60px;
  border-right: 4px solid #ffaa00

}

nav ul li a {
  color: #ffaa00;
  text-decoration: none;
  display: flex;
  margin: 20px;
}

nav input {
  
  margin-right: 10px;
  background-color: #ffaa00;
  border-radius: 300px;
  height: 25px;
  
}

nav ::placeholder {

  color: #131313;
  padding: 70px;

}

#input-user {

  background-image: url(/ICON/user-90.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px; /* para dar espaço ao ícone */

}

#input-pw {

  background-image: url(/ICON/forgot-password-96.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px; /* para dar espaço ao ícone */

}


nav figure {
  color: #ffaa00;
  cursor: pointer;
  font-size: 20px;
  font-weight: 1px;
  font-family: Arial, Helvetica, sans-serif;
  border: #ffaa00 solid;
  border-radius: 15px;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/*.....::::: SECTION HOME .....::::: */

section {
  background-color: #4400ff;
  height: 900px;
  width: auto;
}